/*==========================My styles============================================*/

body {
    margin: 0;
}

/**
 * Correct `block` display not defined for `main` in IE 11.
 */

main {
    display: block;
}

/*===============================================================================*/


/*==========================My styles============================================*/

body {
    overflow: auto;
    font-family: Arial, sans-serif;
    background: url(../images/sprite-background.jpg);
}
a {
    text-decoration: none;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input:not([type=checkbox]),
select {
    width: 170px;
    height: 22px;
    float: right;
    box-sizing: border-box;
    border: 1px solid #d6d8d8;
    border-radius: 0;
    background: white;
    box-shadow: inset 0 -1px 1px 0 #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}/* create separate class for this forms!!!! */
.width {
    min-width: 480px;
}
.input-container {
    position: relative;
}
.input-description {
    display: inline-block;
    height: 22px;
}
.select-form-triangle {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    right: 7px;
    border: solid 4px rgba(0, 0, 0, 0);
    border-top: solid 4px black;    
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.main-header,
.main,
.main-footer {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.main-header {
    height: 104px;
    min-width: 620px;
    max-width: 900px;
}
.main {
    max-width: 940px;
}
@media screen and (max-width: 920px) {
    .main {
        width: 700px;
    }
}
.main-footer {
    height: 84px;
    padding: 0 40px;
    
}
/*Should be added to the element which needs to be aligned*/
.ghost-align-child {
    display: inline-block;
    vertical-align: middle;
}
.ghost-align:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/*========================================================*/
.center-cover,
.center-cover--before:before,
.center-cover--after:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0);
    /* For IE 10 */
    z-index: 1;
}
.hidden {
    display: none;
}
.btn {
    position: relative;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    border-radius: 38px;
    border: 0;
    padding: 0 26px;
    height: 38px;
    line-height: 38px;
}
.bt,
.btn a {
    color: #fff; /*??????????????????????????*/ /* links were placed on top of the buttons */
}
.join-us-btn {
    display: block;
    width: 176px;
    background: linear-gradient(to bottom, #81bb14, #418701);
    box-shadow: 0 0 0 1px #3a7c00;
    color: #fff;
    margin: 1em auto;
    font-size: 1.15em;
}
.red-star {
    color: red;
    margin-left: 2px;
}